@page "/invoices/new"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@using BlazorInvoice.Models
@using Microsoft.EntityFrameworkCore
@inject BlazorInvoice.Data.InvoiceDbContext dbContext
@inject NavigationManager NavigationManager

@* <form data-permanent>
    hi<input type="search" title="Search bar" />
</form> *@
<div class="d-flex justify-content-between">
    <div class="d-flex">
        <InputText  class="form-control " @bind-Value="item.SearchText" />
        <button class="btn btn-info" @onclick="SearchItems">اضافة</button>
       
    </div>
   
    <div class="d-flex border border-primary rounded">
        <div class="form-check m-2">
            <input  class="form-check-input" type="radio" name="CurrencyRadio" id="dollarRadio" value="option1" @onclick="()=> HandleCurrency(Currency.USD)" checked>
            <label class="form-check-label" for="dollarRadio">
                Dollar
            </label>
        </div>
        <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="CurrencyRadio" id="DinarRadio" value="option2" @onclick="()=> HandleCurrency(Currency.DINAR)">
            <label class="form-check-label" for="DinarRadio">
                Dinar
            </label>
           
           
        </div>
         @if(selectedCurrency==Currency.DINAR)
            {
                <input style="width: 100px;" class="form-control m-1 rounded" type="number" @bind-value="DollarBoDinar" />
            }
    </div>
    <div>
        <select class="form-select" @bind="CustomerId">
            <option value="0" selected>Select Customer</option>
            @foreach (var customer in Customers)
            {
                <option value="@customer.Id">@customer.Name</option>
            }
        </select>
    </div>
     <div>
        <button class="btn btn-outline-primary" @onclick="SaveInvoice" disabled="@(Items.Count == 0 || CustomerId==0)">
            Save Invoice
            <i class="fas fa-save"></i>
        </button>

    </div>
</div>

@if (Items != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Purchase Price</th>
                <th>Quantity</th>
                <th>Sale Price</th>
                <th>Total Cost</th>
                <td>Total Sale</td>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.PurchasePrice</td>
                    <td>
                        <button class="btn btn-warning" @onclick="async ()=> {item.Quantity--;  await findTotal(true);}">-</button>
                        @item.Quantity
                        <button class="btn btn-info" @onclick="async ()=> {item.Quantity++;  await findTotal(true);}">+</button>
                     </td>
                    <td>@item.SalePrice</td>
                    <td>@(item.Quantity * item.PurchasePrice)</td>
                    <td>@(item.Quantity * item.SalePrice)</td>
                    <td>
                        <svg  @onclick="() => DeleteSelectedItem(item.Id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-danger" style="cursor: pointer;" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                       
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">Total</td>
               
                <td><input type="number" @bind="TotalAfterAplllyingRatio" @bind:after="()=>findTotal()"  /> : @RatioOfProfit%</td>
                <td class="font-weight-bold"> @TotalAfterAplllyingRatio -  @Items.Sum(x => x.Quantity * x.PurchasePrice) = @( TotalAfterAplllyingRatio -  Items.Sum(x => x.Quantity * x.PurchasePrice))</td>
            </tr>
        </tbody>
    </table>
  

    <div>

    </div>
}
  @* 4 radio boxes for payment method @**@
  <div class="d-flex justify-content-start mx-3">
    <div class="form-check border border-1">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" @onclick="()=> HandleSelction(12)" checked>
        <label class="form-check-label" for="exampleRadios1">
           12 Months
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" @onclick="()=> HandleSelction(10)">
        <label class="form-check-label" for="exampleRadios2">
           10 Months
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" @onclick="()=> HandleSelction(8)" >
        <label class="form-check-label" for="exampleRadios1">
           8 Months
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" @onclick="()=> HandleSelction(6)">
        <label class="form-check-label" for="exampleRadios2">
            6 Months
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" @onclick="()=> HandleSelction(4)" >
        <label class="form-check-label" for="exampleRadios1">
           4 Months
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" @onclick="()=> HandleSelction(2)">
        <label class="form-check-label" for="exampleRadios2">
           2 Months
        </label>
    </div>
     <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" @onclick="()=> HandleSelction(1)">
        <label class="form-check-label" for="exampleRadios2">
           1 Months
        </label>
    </div>
   
  </div>
  <div class="row row-cols-5 ">
    @foreach(var payment in payments)
    {
        <div class="card text-white bg-info bg-gradient mb-3 col m-1" style="max-width: 18rem;">
            <div class="card-header">@payment.Date.ToShortDateString()</div>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h5 class="card-title" > @payment.Amount : @selectedCurrency</h5>
                    <input class="bg-warning" type="checkbox" @bind-value="payment.Paid" />
                </div>
               
                <p class="card-text"></p>
            </div>
        </div>
    }

  </div>

@code {
    [SupplyParameterFromForm]
    public SearchOption item { get; set; } = new SearchOption();
    // property for Item List
    public List<Item> Items { get; set; } = new List<Item>();
    // property for Customer List
    public List<Customer> Customers { get; set; } = new List<Customer>();
    public int CustomerId { get; set; } = 0;
    private int NoOfMonths { get; set; } = 12;
    private Currency    selectedCurrency=Currency.USD;
    private int DollarBoDinar = 0;
    // List of payments
    private List<Payment> payments = new List<Payment>();
    private int TotalAfterAplllyingRatio { get; set; }
    private int RatioOfProfit { get; set; }= 0;
    protected override async Task OnInitializedAsync()
    {
       
        // read all customers from the database
        Customers = await dbContext.Customer.ToListAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedSessionStore.GetAsync<int>("DollarRate");
            if (result.Success)
            {
                DollarBoDinar = result.Value;
            }
        }
    }
    private void HandleCurrency(Currency currency)
    {
        selectedCurrency = currency;
        HandleSelction(NoOfMonths);
    }

    private async Task  findTotal(bool reCaculate=false) {
        var total= Items.Sum(x=>x.Quantity * x.SalePrice);
        if (TotalAfterAplllyingRatio > 0 && !reCaculate)
        {
            decimal profit = TotalAfterAplllyingRatio - (Items.Sum(x => x.Quantity * x.SalePrice));
            RatioOfProfit = (int)((profit / (Items.Sum(x=>x.Quantity * x.SalePrice))) * 100);
        } else if (TotalAfterAplllyingRatio == 0 || reCaculate){
            var totalRatio= await dbContext.Ratios.Where(x=>x.FromAmount <= NoOfMonths && x.ToAmount >= NoOfMonths).FirstOrDefaultAsync();
            if (totalRatio is null)
            
            TotalAfterAplllyingRatio= 0;
            else
            {
                var t= totalRatio.Rate/100.0;
                var b= total * t;
                TotalAfterAplllyingRatio= (int)(b + total);
                decimal profit = TotalAfterAplllyingRatio - (Items.Sum(x => x.Quantity * x.SalePrice));
                RatioOfProfit = (int)((profit / (Items.Sum(x=>x.Quantity * x.SalePrice))) * 100);
            }
            
        }
        
       // TotalAfterAplllyingRatio= (int)totalRatio.Rate/100  * total;
    }
    private async Task HandleSelction(int noOfMonths)
    {
        NoOfMonths=noOfMonths;
        // selectedValue = value;
        payments.Clear();
        await findTotal(true);
        if (noOfMonths > 0)
        {

            var totalAmount = TotalAfterAplllyingRatio;// Items.Sum(x=>x.Quantity * x.SalePrice); // Replace with your actual total amount
            if (selectedCurrency == Currency.DINAR && DollarBoDinar > 0)
            {
                totalAmount = totalAmount * DollarBoDinar;
            }
            else if (selectedCurrency == Currency.DINAR && DollarBoDinar == 0) return;

            var amountPerPayment = Math.Round(totalAmount / (double)NoOfMonths, 2);
            var currentDate = DateTime.Now;

            for (int i = 0; i < NoOfMonths; i++)
            {
                payments.Add(new Payment { Date = currentDate.AddMonths(i), Amount = (int)amountPerPayment });
            }
        }
    }
    private void DeleteSelectedItem(int id)
    {
        Items.Remove(Items.First(x => x.Id == id));
    }
    void doSomething()
    {
        Console.WriteLine("doSomething");
    }
    private async Task SearchItems()
    {
        if (item.SearchText == null)
        {
            item.SearchText="LED";
        }
        var newItems= await dbContext.Items.Where(x=>x.ItemName.Contains(item.SearchText)).ToListAsync();
        foreach(var i in newItems)
        {
            if (Items.Any(x=>x.ItemName.Contains(i.ItemName)))
            {
                Items.Where(x=> x.Id==i.Id).ToList().ForEach(x=>x.Quantity++);
                continue;
            } else
            {
                i.Quantity=1;
                Items.Add(i);
            }

         };
        await findTotal();
        // dbContext.Items.Add(item);
        // await dbContext.SaveChangesAsync();
        // NavigationManager.NavigateTo("/");
    }
    private async Task SaveInvoice()
    {
        var invoice=new Invoice();
        invoice.InvoiceDate=DateTime.Now;
        invoice.CustomerId=CustomerId;  
        invoice.Payment= TotalAfterAplllyingRatio;  //Items.Sum(x=>x.Quantity*x.SalePrice);
        invoice.Currency=selectedCurrency;  
        dbContext.Invoices.Add(invoice);
        await dbContext.SaveChangesAsync();
        List<InvoiceItem> InvoiceItems = Items.Select(item => new InvoiceItem 
        { 
            SalePrice = item.SalePrice,
            CostPrice = item.PurchasePrice,
            ItemId = item.Id,
            Quantity = item.Quantity,
            InvoiceId=invoice.Id
        }).ToList();
        foreach(var i in InvoiceItems)
        {
            dbContext.InvoiceItems.Add(i);
        }
        await dbContext.SaveChangesAsync();

        // save the payments
        foreach (var payment in payments)
        {
            payment.InvoiceId = invoice.Id;
            payment.Currency = selectedCurrency;
         
        }
        await dbContext.Payments.AddRangeAsync(payments);
        await dbContext.SaveChangesAsync();
        await ProtectedSessionStore.SetAsync("DollarRate", DollarBoDinar);
        NavigationManager.NavigateTo("Invoices/Index");
    }
    public class SearchOption {
        public string? SearchText { get; set; }
    }
}
