@page "/items"
@using BlazorInvoice.Models
@using Microsoft.EntityFrameworkCore

@inject BlazorInvoice.Data.InvoiceDbContext dbContext
@attribute [StreamRendering(true)]
<div class="d-flex justify-content-between">
    <h3>المواد</h3>
    <a class="btn btn-primary" href="/items/new">اضافة مادة جديدة</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>اسم المادة</th>
            <th>سعر الشراء</th>
            <th>العدد</th>
            <th>سعر البيع</th>
            <th>المجموع</th>
        </tr>
    </thead>
    <tbody>
        @if (Items == null || Items.Count==0)
        {
            <tr>
                <td colspan="5">No Items</td>
            </tr>
        }
        else{
            
                @foreach (var item in Items)
                {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.PurchasePrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.SalePrice</td>
                    <td>@(item.Quantity * item.SalePrice)</td>
                </tr>
                }
             <tr class="bg-warning">
                <td>المجموع</td>
                <td>@Items.Sum(x=>x.PurchasePrice) </td>
                <td>@Items.Sum(x=>x.Quantity)</td>
                <td>@Items.Sum(x=>x.SalePrice)</td>
                <td>@Items.Sum(x=>x.Quantity * x.SalePrice)</td>
            </tr>
        } 
       
      
    </tbody>
    </table>

@code {
    public List<Item> Items { get; set; } = null;

    // read Items on page initialization
    protected override async Task  OnInitializedAsync()
    {
       // Items= dbContext.Items.ToList();
        Items =await dbContext.Items.ToListAsync();

    }
    
  
}


